.checkbox {
  display: flex;
  align-items: center;
}

.checkbox label {
  cursor: pointer;
}

/* 실제 input을 숨기기 위한 코드 */
.checkbox input {
  /* display: none; */
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.checkbox span {
  font-size: 1.125rem;
  font-weight: bold;
}

.icon {
  display: flex;
  align-items: center;
  /* 아이콘의 크기는 폰트 사이즈 조정 가능 */
  font-size: 2rem;
  margin-right: 0.25;
  color: #adb5db;
}

.checked-icon {
  color: #339af0;
}

/* 
참고사항
CSS Module은 Sass에서도 사용이 가능함. 
확장자를 컴포넌트.module.scss 로 바꾸면됩니다. 

:global  => 전역의 의미 -> 클래스의 이름을 고유화하지 않고 그대로 사용하는 경우

sass를 사용하는 경우
:global {
  .선택자 {

  }
}

CSS module을 사용하지 않는 곳에서 특정 클래스에서만 고유 이름을 사용하고 싶을 때
:local .선택자 {

}

sass를 사용하는 경우
:local {
  .선택자 {

  }
}

*/