/* Box.module.css : CSS Module 컴포넌트 단위별 스타일링. 중첩 방지*/
/* 
  사용하는 이점
  - 레거시 프로젝트에 리액트를 도입할 때(기존 프로젝트에 있던 CSS 클래스와 
   이름이 중복되어도 스타일이 꼬이지 않게 해줍니다.)
  - CSS클래스를 중복되지 않게 작성하기 위해서 CSS 클래스 네이밍 규칙을 만들기 
   귀찮을 때(아래와 같은 규칙을 사용하고 싶지 않은 겨우)

  ** CSS 클래스 네이밍 규칙
  1. 컴포넌트의 이름은 다른 컴포넌트랑 중복되지 않게 한다. 
  2. 컴포넌트의 최상단 CSS클래스는 컴포넌트의 이름과 일치시킨다. 
  3. 컴포넌트 내부에서 보여지는 CSS클래스는 CSS selector를 잘 활용한다.
     ex) .MyForm .my-input
  
*/
.Box {
  background: black;
  color: white;
  padding: 2rem;
}